.product-title {
    font-size: 25px;
    margin: 15px 0;
}
.product-description {
    font-size: 20px;
    margin-bottom: 15px;
}
.product-featuers {
    font-size: 18px;
    margin-bottom: 15px;
}
.product-price {
    font-size: 22px;
    margin-bottom: 15px;
}
.buttons-wrapper {
    display: flex;
    justify-content: center;
}
